/*Global Styles*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Roboto' ,Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}



/*Header*/

.header {
    background-color: #0D1321;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link , .navigation__link {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 28px;
    padding: 20px 0;
    transition: color 0.25s ease-in;
}

.header__link:hover , .navigation__link:hover {
    color: rgb(239, 191, 66);
}

.header__logo {

}

.navigation {
    


}

.navigation__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navigation__item {
   margin-right: 20px;

}
.navigation__item:last-of-type {
    margin-right: 0;
}

.navigation__link {
    font-size: 18px;
    text-transform: uppercase;
}

/*Index*/
/*Hero*/
.hero {
    background: url("../images/hero-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__container {
    display: flex;
    min-height: 90vh;
    justify-content: flex-end;
    align-items: center;
}

.hero__details {
    margin-right: 160px;
}

.hero__intro {
    font-size: 128px;
    text-align: right;
    line-height: 0.9;
    margin-bottom: 20px;
    letter-spacing: 5px;
}


/*LogIn*/

.login__form, .signup__form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.login__input, .login__btn, .signup__input, .signup__btn {
    width:250px;
    padding: 8px 0 8px 10px;
    margin: 0 auto;
    margin-bottom:10px;
    font-size: 18px;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;

}

.login__input {
    background-color: rgba(255, 255, 255, 0.8);
}

.login__input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.login__btn, .signup__btn {
    padding: 8px 0;
    background-color:#0a990a; 
    color: white;
    transition: all 0.25s ease-in-out;
}

.login__btn:hover, .btn-signup:hover {
    filter: brightness(120%);
}



/*Signup*/


.signup__form {
    margin: 40px 0;
}

.signup__intro {
    margin-bottom: 20px;
    font-size: 36px;
}


.signup__input {
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin-bottom: 16px;
}

.btn-signup {
    background-color: #0D1321;
    transition: all 0.25s ease-in-out;
}



/*Footer*/
.footer {
    background-color: #0D1321;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copy {
    color: white;

}
